{% extends "template.html" %}
{% block content %}

<main class="main">
      <!-- Page Title -->
      <div class="page-title">
        <h1>MODIFICAR PRODUCTO</h1>
    </div>
    <!-- End Page Title -->

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <form class="row g-3 needs-validation" method="POST" action="/producto/update" novalidate>
                <input type="hidden" name="id" value="{{producto.id}}">

                <div class="col-md-6">
                  <label for="nombre" class="form-label">Nombre de Producto</label>
                  <input type="text" class="form-control" id="nombre" name="nom" required value="{{producto.nombre}}">
                </div>

                <div class="col-md-6">
                  <label for="tipoProducto" class="form-label">Tipo de Producto</label>
                  <input type="text" class="form-control" id="tipoProducto" name="tipop" required value="{{producto.tipoProducto}}">
                </div>

                <div class="col-md-6">
                  <label for="marca" class="form-label">Marca</label>
                  <input type="text" class="form-control" id="marca" name="marca" required value="{{producto.marca}}">
                </div>

                <div class="col-md-6">
                  <label for="descripcion" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="descripcion" name="descripcion" required value="{{producto.descripcion}}">
                </div>

                <div class="col-12 text-center">
                  <button class="btn btn-success" type="submit">MODIFICAR</button>
                  <a href="/producto/list" class="btn btn-danger">CANCELAR</a>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
