{% extends "template.html" %} {% block content %}

<title>Registro de productos</title>

<main class="main">
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="bi bi-pencil-square"></i> REGISTRE UN PRODUCTO
                            </h5>

                            <form class="row g-3 needs-validation" method="POST" action="/producto/save">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label"><i class="bi bi-box"></i> Nombre
                                        Producto</label>
                                    <input type="text" class="form-control" id="nombre" name="nom" required
                                        minlength="3" maxlength="50" />
                                </div>

                                <div class="col-md-6">
                                    <label for="tipoProducto" class="form-label"><i class="bi bi-tag"></i> Tipo de
                                        Producto</label>
                                    <input type="text" class="form-control" id="tipoProducto" name="tipop" required
                                        minlength="3" maxlength="50" />
                                </div>

                                <div class="col-md-6">
                                    <label for="marca" class="form-label"><i class="bi bi-shop"></i> Marca</label>
                                    <input type="text" class="form-control" id="marca" name="marca" required
                                        minlength="3" maxlength="50" />
                                </div>

                                <div class="col-md-6">
                                    <label for="descripcion" class="form-label"><i class="bi bi-card-text"></i>
                                        Descripción</label>
                                    <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                        minlength="3" maxlength="150" />
                                </div>

                                <div class="col-12 text-center">
                                    <button class="btn btn-success" type="submit">
                                        <i class="bi bi-check-circle"></i> REGISTRAR
                                    </button>
                                    <a href="/producto/list" class="btn btn-danger"><i class="bi bi-x-circle"></i>
                                        CANCELAR</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}