{% extends "template.html" %}
{% block content %}
<title>Lotes</title>


<style>
    /* Estilos para ajustar el ancho de las columnas */
    table {
        table-layout: fixed;
        /* Hace que las columnas tengan un ancho uniforme */
        width: 100%;
        /* Ancho total de la tabla */
    }

    th,
    td {
        width: auto;
        /* Ancho automático basado en el contenido */
        max-width: 150px;
        /* Ancho máximo para evitar que las columnas sean demasiado anchas */
        white-space: nowrap;
        /* Evita que el texto se divida en varias líneas */
        overflow: hidden;
        /* Oculta el contenido que excede el ancho */
        text-overflow: ellipsis;
        /* Muestra puntos suspensivos (...) si el texto es demasiado largo */
    }

    /* Ajustes específicos para columnas */
    th#producto,
    td:nth-child(1) {
        width: 12%;
    }

    /* Columna "Producto" */
    th#marca,
    td:nth-child(2) {
        width: 10%;
    }

    /* Columna "Marca" */
    th:nth-child(3),
    td:nth-child(3) {
        width: 15%;
    }

    /* Columna "Código de Lote" */
    th:nth-child(4),
    td:nth-child(4) {
        width: 10%;
    }

    /* Columna "Unidades" */
    th:nth-child(5),
    td:nth-child(5) {
        width: 13%;
    }

    /* Columna "Precio Compra" */
    th:nth-child(6),
    td:nth-child(6) {
        width: 12%;
    }

    /* Columna "Precio Venta" */
    th:nth-child(7),
    td:nth-child(7) {
        width: 15%;
    }

    /* Columna "Fecha de Elaboración" */
    th:nth-child(8),
    td:nth-child(8) {
        width: 16%;
    }

    /* Columna "Fecha de Vencimiento" */
    th:nth-child(9),
    td:nth-child(9) {
        width: 20%;
    }

    /* Columna "Descripción de Lote" */
    th:nth-child(10),
    td:nth-child(10) {
        width: 15%;
    }

    th a {
        text-decoration: none;
        color: inherit;
    }

    th a:hover {
        color: #007bff;
    }

    .bi-arrow-up,
    .bi-arrow-down {
        font-size: 0.8em;
    }

    /* Columna "Acciones" */
</style>

<div class="pagetitle text-center mb-4">
    <h1>LISTADO DE LOTES</h1>
    <div class="mt-3">
        <a href="/producto/list" class="btn btn-info d-inline-flex align-items-center">
            <i class="bi bi-box-seam me-1"></i> PRODUCTOS
        </a>
    </div>
</div>

<div class="col-lg-6" style="margin-left: 5%;">
    <label>Buscar por Código de Lote</label>
    <input type="text" id="textoBusqueda" placeholder="Ingresa un nombre" class="form-control" minlength="3"
        maxlength="15" style="width: 220px; display: inline-block; padding-left: 10px; padding-right: 10px;" />
    <a id="btnBuscar" class="btn btn-success">Buscar</a>
    <a href="/lote/list" class="btn btn-secondary" title="Reiniciar lista">
        <i class="bi bi-arrow-counterclockwise"></i>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Función para redirigir a la URL de búsqueda
        function buscarLote() {
            var texto = $("#textoBusqueda").val();  // Captura el valor del campo de búsqueda
            if (texto) {
                var url = "/lote/search/codigoLote/" + texto;  // Construye la URL de búsqueda
                window.location.href = url;  // Redirige a la URL de búsqueda
            } else {
                alert("Por favor, ingresa un código de lote.");  // Muestra un mensaje si el campo está vacío
            }
        }

        // Asignar la función al botón de búsqueda
        $("#btnBuscar").click(buscarLote);

        // Permitir la búsqueda al presionar "Enter" en el campo de texto
        $("#textoBusqueda").keypress(function (e) {
            if (e.which === 13) {  // 13 es el código de la tecla "Enter"
                buscarLote();
            }
        });
    });
</script>

<!-- Bloque para mostrar mensajes de flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-warning">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<section class="section">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="producto">Producto</th>
                                    <th id="marca">Marca</th>
                                    <th>Código de Lote
                                        <a href="/lote/order/codigoLote/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/codigoLote/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Unidades
                                        <a href="/lote/order/cantidad/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/cantidad/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Precio Compra
                                        <a href="/lote/order/precioCompra/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/precioCompra/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Precio Venta
                                        <a href="/lote/order/precioVenta/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/precioVenta/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Fecha Elaboración
                                        <a href="/lote/order/fechaCreacion/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/fechaCreacion/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Fecha Vencimiento
                                        <a href="/lote/order/fechaVencimiento/1"><i class="bi bi-arrow-up"></i></a>
                                        <a href="/lote/order/fechaVencimiento/0"><i class="bi bi-arrow-down"></i></a>
                                    </th>
                                    <th>Descripción de Lote</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in lista_lote %}
                                <tr>
                                    <td>{{ item.producto.nombre }}</td>
                                    <td>{{ item.producto.marca }}</td>
                                    <td>{{ item.codigoLote }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.precioCompra }}</td>
                                    <td>{{ item.precioVenta }}</td>
                                    <td>{{ item.fechaCreacion }}</td>
                                    <td>{{ item.fechaVencimiento }}</td>
                                    <td>{{ item.descripcionLote }}</td>
                                    <td>
                                        <a href="/lote/edit/{{ item.id }}"
                                            class="btn btn-info d-flex align-items-center mb-1">
                                            <i class="bi bi-pencil-square me-1"></i> Modificar
                                        </a>
                                        <form action="/lote/delete/{{ item.id }}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-danger d-flex align-items-center"
                                                onclick="return confirm('¿Estás seguro de que deseas eliminar este lote?');">
                                                <i class="bi bi-trash-fill me-1"></i> Eliminar
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}