{% extends "template.html" %}
{% block content %}

<title>Ingresar Compra</title>


<main class="main">
  <!-- Page Title -->

  <div class="page-title">
    <h1>Ingresar Compra</h1>
  </div>


  <section class="section">
    <div class="div-compra">

      <form method="POST" action="/compra/save" class="form-compra" id="ordenCompraForm">

        <!-- Nro Factura Compra -->
        <div class="elementos-compra">
          <label for="nroOc" class="form-label">
            <i class="bi bi-card-text"></i> Nro Factura Compra
          </label>
          <input type="text" class="form-control" id="nroOc" name="nro_Oc" required minlength="3" maxlength="150">
        </div>

        <!-- Fecha de Compra -->
        <div class="elementos-compra">
          <label for="fechaCom" class="form-label">
            <i class="bi bi-tag"></i> Fecha de Compra
          </label>
          <input type="date" class="form-control" id="fechaCom" name="fechaCom" required>
        </div>

        <!-- Distribuidor Selector -->
        <div class="div-distribuidor" id="cuadroDistribuidor">
          <div class="card-body">
            <label for="searchDistribuidor" class="form-label">
              <i class="bi bi-truck"></i> Distribuidor </label>
            <div class="d-flex justify-content-between align-items-center">
              <input type="text" id="searchDistribuidor" class="form-control" placeholder="Buscar distribuidor...">


              <a href="/distribuidor/register" class="btn custom-btn ms-3">Agregar nuevo distribuidor</a>
            </div>

            <div id="div-hidden" class="hidden">
              <select class="form-control" name="cedula_dis" size="5" id="cuadradoSelector">
                <option value="" selected>Seleccione un distribuidor...</option>

                {% for item in lista_distribuidor %}
                <option value="{{ item.cedula }}">
                  {{ item.nombre }} - {{ item.cedula }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <form id="ordenCompraForm">
          <!-- Campos para lotes dinámicos -->
          <label for="loteContainer" class="form-label">
            <i class="bi bi-box"></i> Productos
          </label>
          <div id="loteContainer"></div>

          <button class="boton-lote" type="button" onclick="addLote()">Añadir Lote</button><br><br>

          <!-- El monto total aparecerá aquí -->
          <input type="hidden" name="totalC" id="totalC">

          <!-- Buttons -->
          <div class="div-botones-compra">
            <button class="btn btn-success boton" type="submit">
              <i class="bi bi-check-circle"></i> Registrar
            </button>
            <a href="/compras/list" class="btn btn-danger boton">
              <i class="bi bi-x-circle"></i> Cancelar
            </a>
          </div>
        </form>

      </form>
    </div>
  </section>
</main>

<script src="../../static/assets/js/scipts.js"></script>
{% endblock %}